extends layout

block content
  h1 #{title}: #{book.title}
  p
   b Author: #{book.author.first_name} #{book.author.family_name}

  if book_instances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books

      dl
      each book_instance in book_instances
        dt
          a(href=book_instance.url) #{book_instance.imprint}
        dd #{book_instance.status}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
